:root {
  --dark-white: #181a1b;
  --dark-white-body: #131516;
  --dark-font-color: #e8e6e3;
  --dark-font-a-color: #3391ff;
  --dark-white-box: #2b2a33;
  --dark-table-solid: #383d3f;
}

@media ( prefers-color-scheme: dark ) {
  body {
    background-color: var( --dark-white-body );
  }

  p, h1, h2, h3, li {
    color: var( --dark-font-color );
  }

  a {
    color: var( --dark-font-a-color );
  }

  .board {
    background-color: var( --dark-white );
  }

  .panel {
    border-color: #3a3835
  }

  textarea {
    background-color: var(--dark-white-box);
    border-color: #75747a;
    color: white;
  }

  hr {
    border-top: 1px solid var( --dark-table-solid );
  }
}